Source: dde-dock
Section: x11
Priority: optional
Maintainer: Arun Kumar Pariyar <openarungeek@gmail.com>
XSBC-Original-Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 cmake,
 debhelper-compat (=13),
 libdbusmenu-qt5-dev,
 libdde-network-utils-dev,
 libdframeworkdbus-dev,
 libdtkcore-dev (>=5.5~),
 libdtkcore5-bin(>=5.5~),
 libdtkgui-dev(>=5.5~),
 libdtkwidget-dev(>=5.5~),
 libgmock-dev,
 libgsettings-qt-dev,
 libgtest-dev,
 libqt5svg5-dev,
 libqt5x11extras5-dev,
 libxcb-composite0-dev,
 libxcb-damage0-dev,
 libxcb-ewmh-dev,
 libxcb-icccm4-dev,
 libxcb-image0-dev,
 libxtst-dev,
 pkg-config,
 qt5-qmake,
 qtbase5-private-dev,
 qttools5-dev-tools,
Standards-Version: 4.5.1
Homepage: http://www.deepin.org/

Package: dde-dock
Architecture: any
Depends:
 dde-daemon (>=5.13.12),
 dde-qt5xcb-plugin (>=5.0.40~),
 deepin-desktop-schemas,
 libdde-network-utils,
 libdframeworkdbus2,
 libdtkcore5 (>=5.5~),
 libdtkgui5 (>=5.5~),
 libdtkwidget5 (>=5.5~),
 qtxdg-dev-tools,
 startdde (>=5.8.9),
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 dde-disk-mount-plugin,
 dde-dock-network-plugin,
 dde-dock-onboard-plugin,
Conflicts:
 dde-dock-applets,
 dde-trash-plugin,
 dde-workspace (<< 2.90.5),
Replaces:
 dde-dock-applets,
 dde-trash-plugin,
Description: deepin desktop-environment - dock module
 Deepin desktop environment - dock module.

Package: dde-dock-dev
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: deepin desktop-environment - dock module development files
 Deepin desktop environment - dock module development files.

Package: dde-dock-onboard-plugin
Architecture: any
Depends:
 onboard,
 ${misc:Depends},
 ${shlibs:Depends},
Description: deepin desktop-environment - dock plugin
 Deepin desktop environment - dock plugin for onboard
